@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "components/header/Header.css";
@import "components/pages/main-page/MainPage.css";
@import "assets/normalize.css";
@import "assets/var.css";
@import "components/pages/char-page/CharPage.css";
@import "components/pages/error-page/ErrorPage.css";
@import "components/card/Card.css";
@import "components/card-list/CardList.css";
@import "components/popup/CardPopup.css";
@import "components/filter/FilterCard.css";


li {
    list-style-type: none;
}

a {
    text-decoration: none;
    cursor: pointer;
    color: inherit;
}

ul {
    padding: 0
}

button:hover {
    opacity: 0.8;
    cursor: pointer;
}

#root {
    font-family: var(--font-family-main), Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: white;
    margin: 0;
    background-image: var(--background);
}

.App {
    width: 100%;
    max-width: 1440px;
}